
{% extends 'Register/base.html' %}
{% load static %}

{% block content %}

<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th> </th>
        <th scope="col"> Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for user in page %}<!--book maatti page kodukkunnu for pagination-->


    <tr align="center">
        <th scope="row" >{{ forloop.counter }}</th>
        <td></td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>

        <td>
        <a href="{% url 'update' book.id %}" class="btn btn-success">Update</a>
        <a href="{% url 'delete' book.id %}" class="btn btn-danger">Delete</a>
        </td>

    </tr>

    {%endfor%}
    </tbody>
</table>
<!--pagination-->

<nav aria-label="Page navigation example">
  <ul class="pagination">

      <!--pagination previous arrows-->
     {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% endif %}
      <!--end of pagination previous arrows-->
      {% for num in page.paginator.page_range %}
    <li class="page-item {% if page.number == num %}activate{% endif %}">
        <a class="page-link" href="?page={{num}}">{{ num }}</a></li>
    {% endfor %}

<!--pagination next arrows-->
      {% if page.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
<!--end of pagination next arrows-->
  </ul>
</nav>
<!--end of pagination-->

{% endblock %}
